[Unit]
Description=PowerVR consumer services

[Service]
ExecStart=/usr/lib/locale/bin/rc.pvr start
ExecStop=/usr/lib/locale/bin/rc.pvr stop
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
